<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <script src="static/js/htmx.min.js"></script>
    </head>
    <body>
        <h1>{{ .Title }}</h1>
        <ul id="todoLists">
            {{ range.TodoLists }}
                {{template "todoList.go.html" .}}
            {{ else }}
                &nbsp;
            {{ end }}
        </ul>
        <form
            class="new-todoList-form"
            hx-post="/api/todoLists"
            hx-target="#todoLists"
            hx-swap="beforeend"
            hx-on::after-request="this.reset()"
        >
        <input type="text" required placeholder="List title" name="title" />
        <button>Add new todo list</button>
        </form>
    </body>
</html>
