<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        {{/* comments */}}
        <h1>{{ .Title }}</h1>
        <ul>
            {{ range.TodoLists }}
            <li>
                {{ .Title }}
                {{ range.Todos }}
                    <ul>
                        {{ if .Completed }}
                            <li class="done">{{ .Task }}</li>
                        {{ else }}
                            <li>{{ .Task }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </body>
</html>
