<li class="todo {{ if .Completed }}done{{else}}&nbsp;{{ end }}">
	<div class="todo-task">
		<button
			hx-patch="/api/todos?todoId={{ .Id }}&setCompleted={{ if .Completed }}false{{else}}true{{ end }}"
			hx-trigger="click"
			hx-target="closest .todo"
			hx-swap="outerHTML"
		>
		{{- if .Completed -}}
			X
		{{ else -}}
			&nbsp;
		{{- end -}}
		</button>
		{{ .Task }}
		<button
			hx-trigger="click"
			hx-delete="/api/todos?todoId={{ .Id }}"
			hx-swap="delete"
			hx-target="closest li"
			hx-confirm="Are you sure you want to delete this task?"
		>Delete</button>
	</div>
	<div class="todo-description">{{ .Description }}</div>
</li>